<h1>Курс за последние 4 недели</h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Валюта</th>
    <th>4 недели назад</th>
    <th>3 недели назад</th>
    <th>позапрошлая неделя</th>
    <th>прошлая неделя</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>USD</td>
    <% @rub_to_usd.each do |week| %>
      <td><%= week.first %> (<%= week.last %>)</td>
    <% end %>
  </tr>
  <tr>
    <td>EUR</td>
    <% @rub_to_eur.each do |week| %>
      <td><%= week.first %> (<%= week.last %>)</td>
    <% end %>
  </tr>
  <tr>
    <td>CNY</td>
    <% @rub_to_cny.each do |week| %>
      <td><%= week.first %> (<%= week.last %>)</td>
    <% end %>
  </tr>
  </tbody>
</table>
<div class="text-center">
  <%= link_to 'График', root_path, data: { turbo:false }%>
</div>

